<p id="notice"><%= notice %></p>

<h1>Listing My Models</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_models.each do |my_model| %>
      <tr>
        <td><%= link_to 'Show', my_model %></td>
        <td><%= link_to 'Edit', edit_my_model_path(my_model) %></td>
        <td><%= link_to 'Destroy', my_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My model', new_my_model_path %>
