<!DOCTYPE html>
<html>
<head>
  <title>Bloglab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="sidebar">
	 <div id= "logo">
		 <%= link_to root_path do %>
			 <%= image_tag "ichiban.png" %>
		 <% end %>
	 </div>

	 <ul>
		 <li class="category"><%= t "layouts.title"  %></li>
		 <li><%= link_to(t('layouts.blog'), root_path)  %></li>
		 <li><%= link_to(t('layouts.about'), about_path) %></li>
		 <li><a href="http://0.0.0.0:3000/users/sign_up"><%= t 'layouts.registration' %></a></li>

	 </ul>

	 <ul>
		 <li class="category"><%= t "layouts.contacts"%></li>
		 <li><a href="http://vk.com/id90664978">VK</a></li>
		 <li><a href="https://twitter.com/StasSidorenko2">Twitter</a></li>
		
	 </ul>

	 <ul>
		 <li class="category"><%= t "layouts.languages" %></li>
		 <li><%= link_to_unless_current "English", locale: "en" %></li>
		 <li><%= link_to_unless_current "日本語", locale: "ja" %></li>
		 <li><%= link_to_unless_current "Українська", locale: "ua" %></li>
	 </ul> 

       <% if !user_signed_in? %>  
	       <p class="sign_in"></p>
       <% end %>
 </div>

 <div id="main_content">
	 <div id="header">
		 
		 <% if current_page?(root_path) %>
			 <p>All posts</p>
		 <% elsif current_page?(about_path) %>
			 <p>About</p>
		 <% else %>
			 <%= link_to(t("layouts.back_to_all_posts"), root_path) %>
		 <% end %>

		 
                 <% if user_signed_in? %>

		 <div class="buttons">
			 <button class="button"><%= link_to(t("layouts.new_post"), new_post_path) %></button>
	</button><%= link_to "log_out", destroy_user_session_path, :class => "button", method: :delete %>

		 </div>
	 <% end %>
	 <% if !user_signed_in? %>
		 <div class="buttons">
			 <button class="button"><%= link_to(t("layouts.log_in"), new_post_path) %></button> 
		 </div>
	 <% end %>
	 
	 </div>
 
	 <% flash.each do |name, msg|%>
		 <%= content_tag(:div, msg, class: "alert") %>
	 <% end %> 
 <%= yield %>
 </div>
 

</body>
</html>
